extends layout

block content
  .jumbotron
    h1 Durban Undersea Club
    p.lead Welcome to the DUC self service dive booking page.
    p
  .row
  p Book your place on this dive
  .row

  form(name='booking', action='/doBook', method='post')
    div.input
        input(type='text', name='diverName', placeholder="Diver Name")
    div.input
        input(type='text', name='diverSurname', placeholder="Diver Surname")
    div.input
        input(type='text', name='qualification', placeholder="Qualification")
    div.input
        input(type='text', name='email', placeholder="email Address")
    div.input
        input(type='text', name='phone', placeholder="Cell Number")
    div.actions
        input(type='submit', value='Book Now')
